
<h2>Update Product</h2>
<form (ngSubmit)="updateProduct()" #productForm="ngForm">	
	<table>
		<tbody>
			<tr>
				<td><label>Product Id</label></td>
				<td><input type="number" name="p_id"  [(ngModel)]="productItem.productId"></td>
			</tr>
			<tr class="form-group">
				<td><label>Product Name</label></td>
				<td><input type="text" name="p_name"  [(ngModel)]="productItem.productName"></td>
			</tr>
			<tr>
				<td><label>Product Code</label></td>
				<td><input type="text" name="p_code"  [(ngModel)]="productItem.productCode"></td>
			</tr>
			<tr>
				<td><label>Product Date</label></td>
				<td><input type="text" name="p_date"  [(ngModel)]="productItem.releaseDate"></td>
			</tr>
			<tr>
				<td><label>Product Description</label></td>
				<td><input type="text" name="p_description"  [(ngModel)]="productItem.description"></td>
			</tr>
			<tr>
				<td><label>Product Price</label></td>
				<td><input type="number" name="p_price"  [(ngModel)]="productItem.price"></td>
			</tr>
			<tr>
				<td><label>Product Star Rating</label></td>
				<td><input type="number" name="p_star"  [(ngModel)]="productItem.starRating"></td>
			</tr>
			<tr>
				<td><label>Product Image URL</label></td>
				<td>
					<input type="text" name="p_imageUrl"  [(ngModel)]="productItem.imageUrl">
					<img [src] ="productItem.imageUrl">
				</td>
			</tr>
			<tr><td></td><td><button>
				UPDATE
			</button></td></tr>
			
		</tbody>
		
	</table>

</form>